#managers{
    .wrap{ display: flex; justify-content: space-between; align-items: flex-start;
        @media all and (max-width: 768px) { display: block; }

        .item{
            @media all and (max-width: 768px) { width: 100%; margin-bottom: 30px; }

            .image_wrap{ margin: 0 auto 40px; width: 294px; padding: 5px; border: 2px solid $blue; border-radius: 50%; overflow: hidden;
                @media all and (max-width: 1440px) { width: 280px; margin-bottom: 30px; }
                @media all and (max-width: 1280px) { width: 240px; margin-bottom: 25px; padding: 4px; }
                @media all and (max-width: 1024px) { width: 180px; margin-bottom: 20px; padding: 3px; border-width: 1px; }
                @media all and (max-width: 768px) { width: 152px; margin-bottom: 15px; padding: 2px; }

                img{ display: block; width: 100%; }
            }
            .name{ color: #231f20; font-size: 32px; text-align: center; margin-bottom: 15px;
                @media all and (max-width: 1440px) { font-size: 30px; }
                @media all and (max-width: 1280px) { font-size: 26px; }
                @media all and (max-width: 1024px) { font-size: 22px; margin-bottom: 10px; }
                @media all and (max-width: 768px) { font-size: 18px; }

                &:after{ content: ""; display: block; width: 200px; height: 4px; background: $blue; margin: 15px auto 0; 
                    @media all and (max-width: 1440px) { width: 175px; }
                    @media all and (max-width: 1280px) { width: 150px; margin-top: 10px; }
                    @media all and (max-width: 1024px) { width: 125px; margin-top: 5px; }
                    @media all and (max-width: 768px) { width: 100px; }
                }
            }
            .dolgnost{ font-size: 18px; text-align: center; color: #231f20; 
                @media all and (max-width: 1440px) { font-size: 17px; }
                @media all and (max-width: 1280px) { font-size: 16px; }
                @media all and (max-width: 1024px) { font-size: 15px; }
                @media all and (max-width: 768px) { font-size: 14px; }
            }
        }
    }
}